.git
.venv
__pycache__
.pytest_cache
.ruff_cache

data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

metadata/ingestion_manifests/*
metadata/data_quality_reports/*
metadata/run_logs/*
!metadata/ingestion_manifests/.gitkeep
!metadata/data_quality_reports/.gitkeep
!metadata/run_logs/.gitkeep

dbt/pitwall_dbt/target
dbt/pitwall_dbt/logs
dbt/pitwall_dbt/dbt_packages

.streamlit
.dagster
.tmp_dagster_home*
.DS_Store
